
@{
    ViewBag.Title = "Index";
}

<h2>Welkom bij de beste site om fietsen te huren op meerdere locaties!</h2>
<p>Klik op "Reserveren" om een fiets te reserveren.</p>

<div class="alert alert-warning" role="alert">
    Waarschuwing: vanwege de huidige crisis is er een schaarste op fietsen, waardoor de prijzen zijn verhoogd.
</div>

<p>Door:</p>
<ul>
    <li>Shivam Jawahir</li>
    <li>Mike Ebbe</li>
    <li>Naomie Lepelblad</li>
    <li>Avinash Badloe</li>
</ul>

